<<<<<<< HEAD
html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient(24deg, rgba(150, 250, 207) 18%, rgba(106, 158, 136) 45%, rgba(54, 125, 95) 110%);
}

.logotext{
  background-color: #717980;
  color: white;
  font-family: Helvetica, san-serif;
  height: 40px;
  width: 410px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-style: solid;
  background: linear-gradient(10deg, rgba(79, 240, 84) 18%, rgba(107, 199, 123) 35%, rgba(49, 247, 82) 110%);
  text-shadow: -1px 1px 0 #000,
                          2px 2px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.regtext{
  font-family: Helvetica, san-serif;
  text-align: center;
}

.welcomelog{
  border-radius: 8px;
  width: 250px;
  height: 40px;
  margin-bottom: 2px ;
  font-size: 20px;
}

.signBTN{
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  background-color: rgba(36, 71, 57);
  width: 100px;
  height: 40px;
}

.signupBTN{
  background-color: rgba(36, 71, 57);
  border-radius: 10px;
  color: white;
  width: 100px;
  height: 40px;
  margin-top: -10px;
}

.container{
    background: linear-gradient(40deg, rgba(42, 150, 75) 25%, rgba(107, 199, 123) 65%, rgba(49, 247, 82) 110%);
    height: 50vh;
    width: 50vh;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}
=======
html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        24deg,
        rgba(150, 250, 207) 18%,
        rgba(106, 158, 136) 45%,
        rgba(54, 125, 95) 110%
    );
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}

.logotext {
    background-color: #717980;
    color: white;
    font-family: Helvetica, san-serif;
    height: 40px;
    width: 410px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-style: solid;
    background: linear-gradient(
        10deg,
        rgba(79, 240, 84) 18%,
        rgba(107, 199, 123) 35%,
        rgba(49, 247, 82) 110%
    );
    text-shadow:
        -1px 1px 0 #000,
        2px 2px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

/*container*/
.loginContainer {
    display: grid;
    place-content: center;
    grid-template-columns: 3, 1fr;
} 

section div:nth-of-type(1) {
    text-align: center;
    background: linear-gradient(
        40deg,
        rgba(42, 150, 75) 25%,
        rgba(107, 199, 123) 65%,
        rgba(49, 247, 82) 110%
    );
    width: 500px;
    height: 350px;
    border-radius: 32px;
}

section div > div > form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically */
    align-items: center;
    border-radius: 12px;
}
section div > div > input {
    margin-bottom: 10px; /* Space between inputs */
    padding: 10px; /* Add padding for better appearance */
    width: 200px;
}

.btn {
    background-color: grey;
    text-decoration: none;
    padding: 5px 40px;
    cursor: pointer;
    transition: font-size 0.3s;
}

.btn:hover {
    font-size: 18px;
    background-color: black;
    color: white;
}
>>>>>>> 3ea75a4 (Initial commit)
